<ul data-role="listview" data-inset="true" data-theme="a" data-content-theme="a" class="tbl">
  {% for committee in include.committees %}
    <li data-role="list-divider">{{ committee.role }}</li>
    {% for person in committee.people %}
    <li data-icon="false">
      {% if person.homepage %}<a href="{{ person.homepage }}" target="_blank" rel="external">{% endif %}
        <div class="ui-grid-a">
          <div class="ui-block-a"><p>{{ person.name }}</p></div>
          <div class="ui-block-b"><p>{{ person.affiliation }}</p></div>
        </div>
      {% if person.homepage %}</a>{% endif %}
    </li>  
    {% endfor %}
  {% endfor %}
</ul>
