<div data-role="collapsible" data-theme="a" data-content-theme="a" id="{{ hotel.id }}-c">
  <h3><font class="hotel-header">{{ hotel.name }}</font></h3>
  
  <p>{{ hotel.address }}</p>
  
  <table class="hotel">
    <tr><th>Distance to venue:</th><td>{{ hotel.distance }}</td></tr>
    <tr><th>Rating:</th><td>{{ hotel.rating }}</td></tr>
    <tr><th>Reservation:</th>{{ hotel.reservation }}</tr>
    <tr><th>Rates:</th><td>{{ hotel.rates }}</td></tr>
    <tr><th>Cut-off date:</th><td>{{ hotel.deadline }}</td></tr>
  </table>

  {% if hotel.url %}
    <a href="{{ hotel.url }}" target="sigcomm-hotels" data-role="button" data-theme="a" data-icon="arrow-r" data-iconpos="right" class="button">Hotel Website</a>
  {% endif %}
  
  <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="{{ hotel.id }}"></iframe>
  <script>
       $("#{{ hotel.id }}-c").on('collapsibleexpand', function () {
         $("#{{ hotel.id }}-c").find("iframe#{{ hotel.id }}").attr("src","{{ hotel.map }}");
       });     
  </script>
</div>
