<li class="ui-li ui-bar-{% if include.is_break %}b{% else %}a{% endif %} prog-item ui-li-divider {{ progitemclass }} {% if forloop.last %}listlast{% endif %} {% if forloop.last %}listlast{% endif %}" data-role="list-divider">
  <h3>
    {{ session.time }}
    {% if session.link != "" %}
      <a href="{{ session.link }}">{{ session.title }}</a>
    {% else %}
      {{ session.title }}
    {% endif %}
  </h3>
  {% if include.is_break != true %}
    {% if session.authors != "" %}
      <p>Session Chair: {{ session.authors | replace_regex: '\(([^\)]*)\)', '<em>(\1)</em>'}}</p>
    {% endif %}
    {% if session.room != "" %}
      <p>Room: {{ session.room }}</p>
      {% endif %}
  {% endif %}
</li>
{% comment %}
  // a list divider is not visible if not followed by an ordinary item,
  // when data-filter is true. workaround: included an invisible li.
  // here we include the session title so that it can be searchable
{% endcomment %}
<li class="hidden">{{ session.title }}</li>
